@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: 'Inter', sans-serif;
}

@layer base {
    html, body {
        @apply bg-[#202020] text-white;
    }
}

@layer components {
    .container {
        @apply max-w-[1200px] mx-auto px-4;
    }
}